.main-button {
   color: #494949;
   text-transform: uppercase;
   text-decoration: none;
   background: white;
   margin: 10px;
   padding: 10px 20px;
   border: 2px solid #494949;
   display: inline-block;
   transition: all 0.4s ease 0s;

   &:hover {
       color: white;
       background: #f6b93b;
       border-color: #f6b93b;
       transition: all 0.4s ease 0s;
   }
}
