.main-button {
   color: #333;
   font-weight: 400;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   vertical-align: middle;
   background: white;
   margin: 10px;
   padding: 10px 20px;
   border: 1px solid #333;
   white-space: nowrap;
   font-size: 14px;
   line-height: 1.78;
   border-radius: 2px;
   display: inline-block;
   transition: all 0.4s ease 0s;

   &:hover {
       color: white;
       background: #888888;
       border-color: #888888;
       transition: all 0.4s ease 0s;
   }
}
