.search-container {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.search-title {
    padding: 20px;
}

p {
    font-size: 1.1rem;
}

.search-bar {
    width: 50%;
    display: flex;
    padding-top: 30px;
    margin-left: 25%;
}

.form-control:focus {
    border-color: grey;
    box-shadow: 0 0 5px 0.1rem grey;
}

.btn {
    background-color: white;
}
